[build-system]
requires = [
    "poetry>=1.0.0",
]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "sqlalchemy_exasol"
version = "4.5.0"
description = "EXASOL dialect for SQLAlchemy"
readme = "README.rst"
authors = [
    "Exasol AG <opensource@exasol.com>",
    "Blue Yonder GmbH",
]
license = "BSD"

classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Operating System :: POSIX :: Linux",
    "Intended Audience :: Developers",
    "Intended Audience :: Education",
    "Intended Audience :: Information Technology",
    "Programming Language :: SQL",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Topic :: Database",
    "Topic :: Software Development",
    "Topic :: Software Development :: Libraries",
    "Topic :: Software Development :: Libraries :: Application Frameworks",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Topic :: Scientific/Engineering :: Information Analysis",
]
keywords = [
    "exasol",
    "sql",
    "sqlalchemy",
    "data science",
    "database",
]
include = [
    "README.rst",
    "CHANGELOG.rst",
    "LICENSE",
]
exclude = []

[tool.poetry.urls]
"Homepage" = "https://www.exasol.com/"
"Documentation" = "https://exasol.github.io/sqlalchemy-exasol/"
"Source" = "https://github.com/exasol/sqlalchemy-exasol"
"Issues" = "https://github.com/exasol/sqlalchemy-exasol/issues"
"Changelog" = "https://exasol.github.io/sqlalchemy-exasol/changelog.html"


[tool.poetry.dependencies]
python = ">=3.8,<4.0"
pyodbc = "^4.0.34"
packaging = ">=21.3"
pyexasol = "^0.25.1"
sqlalchemy = ">=1.4,<1.4.45"

[tool.poetry.dependencies.turbodbc]
version = "==4.5.4"
optional = true

[tool.poetry.group.dev.dependencies]
nox = ">=2022.1.7"
urlscan = ">=0.9.9"
pytest-json-report = ">=1.5.0"
# The excluded versions mirror the excluded versions of sqla 1.3.X.
# The limitation/issue pytest <6 is tracked in https://github.com/exasol/sqlalchemy-exasol/issues/144
pytest = ">=6"
pytest-cov = ">=2.7.0"
pre-commit = ">=2.19.0"
black = ">=22.6.0"
isort = "^5.10.1"
pylint = "^2.14.5"
Sphinx = ">=6"
furo = "^2022.6.21"
sphinx-copybutton = "^0.5.0"
mypy = ">=0.982"
pyupgrade = ">=3.0.0"
rich = "^13.3.1"
exasol-integration-test-docker-environment = "^1.5.0"

[tool.poetry.extras]
turbodbc = ["turbodbc"]

[tool.poetry.plugins."sqlalchemy.dialects"]
"exa.pyodbc" = "sqlalchemy_exasol.pyodbc:EXADialect_pyodbc"
"exa.turbodbc" = "sqlalchemy_exasol.turbodbc:EXADialect_turbodbc"
"exa.websocket" = "sqlalchemy_exasol.websocket:EXADialect_websocket"


[tool.pytest.ini_options]
addopts = "--tb native -v -r fxX"
filterwarnings = [
    "error::DeprecationWarning",
    "ignore::DeprecationWarning:sqlalchemy.testing.plugin.*",
]

[tool.black]
line-length = 88
verbose = false
include = "\\.pyi?$"

[tool.isort]
profile = "black"
force_grid_wrap = 2

[tool.pylint.master]
fail-under = 6.4

[tool.pylint.format]
max-line-length = 88
max-module-lines = 800

[tool.mypy]
files = [
    'noxfile.py',
    'scripts/**/*.py',
    # Incrementaly add files and paths to fix until the entire project is checked
]

[[tool.mypy.overrides]]
module = "pyodbc"
ignore_missing_imports = true

[tool.scriv]
new_fragment_template = "file: templates/fragment-template.rst"
version = "literal: pyproject.toml: tool.poetry.version"