name: CI

on:
  push:
    branches-ignore:
      - 'master'
  pull_request:
    branches-ignore:
      - 'master'

jobs:
  run_tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python: [3.6]
        connector:
          - pyodbc
          - turbodbc
        exasol_version:
          - 7.1.6
          - 7.0.16

    name: Run Tests (Python-${{ matrix.python }}, Connector-${{ matrix.connector }}, Exasol-${{ matrix.exasol_version }})

    steps:

    - name: Fetch sqlalchemy_exasol code from repository
      uses: actions/checkout@v2

    - name: Setup Python 3.6 for integration-test-docker-environment
      uses: actions/setup-python@v2
      with:
        python-version: 3.6
      if: ${{ matrix.python != 3.6 }}

    - name: Setup Python ${{ matrix.python }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python }}

    - name: Install via apt
      run: sudo apt-get install unixodbc unixodbc-dev libboost-date-time-dev libboost-locale-dev libboost-system-dev

    - name: Install pipenv
      uses: dschep/install-pipenv-action@v1

    - name: Pip install requirements
      uses: BSFishy/pip-action@v1
      with:
        requirements: requirements_dev.txt

    - name: Pip install extra requirements
      uses: BSFishy/pip-action@v1
      with:
        requirements: requirements_extras.txt
      if: ${{ matrix.connector == 'turbodbc' }}

    - name: Checkout test environment
      run: git clone https://github.com/exasol/integration-test-docker-environment.git
      working-directory: ..

    - name: Run Test for Python ${{ matrix.python }} using ${{ matrix.connector }}
      run: |
        nox -s db-start
        nox -s "integration(connector='${{ matrix.connector }}')"
        nox -s db-stop

  build_package:
    runs-on: ubuntu-latest
    needs: run_tests
    strategy:
      matrix:
        python: [3.6]
        connector:
          - pyodbc

    name: Build Package (Python-${{ matrix.python }}, Connector-${{ matrix.connector }})

    steps:

    - name: Fetch sqlalchemy_exasol code from repository
      uses: actions/checkout@v2

    - name: Fetch all tags
      run: git fetch origin +refs/tags/*:refs/tags/*

    - name: Setup Python ${{ matrix.python }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python }}

    - name: Install pipenv
      uses: dschep/install-pipenv-action@v1

    - name: Install Wheel
      run: pip install wheel

    - name: Build sdist and wheel packages
      run: python setup.py sdist bdist_wheel
