name: GH-Pages
on:
  push:
    branches:
      - master
    tags:
      - "*"
    workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python & Poetry Environment
        uses: ./.github/actions/python-environment
        with:
          python-version: 3.9

      - name: Build Documentation
        run: |
          poetry run python -m nox -s build-docs
          touch doc/build/.nojekyll

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4.6.4
        with:
          branch: gh-pages
          folder: ./doc/build
          git-config-name: Github Action
          git-config-email: opensource@exasol.com

