name: Verify examples

on:
  workflow_call:

jobs:
  build-matrix:
    name: Generate Build Matrix
    uses: ./.github/workflows/matrix-exasol.yml

  verify-examples:
    name: Verify Examples (Python-${{ matrix.python-version }}, Exasol-${{ matrix.exasol-version}})
    needs: [ build-matrix ]
    runs-on:  ubuntu-24.04
    strategy:
      matrix:
        python-version: ["3.12"]
        exasol-version: ${{ fromJson(needs.build-matrix.outputs.matrix).exasol-version }}
    permissions:
      contents: read
    steps:
      - name: Check out repo
        uses: actions/checkout@v5

      - name: Set up Python & Poetry Environment
        uses: exasol/python-toolbox/.github/actions/python-environment@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Start test db
        run: poetry run -- nox -s db:start -- --db-version ${{ matrix.exasol-version }}

      - name: Run examples
        run: poetry run -- nox -s run:examples

      - name: Stop test db
        run: poetry run -- nox -s db:stop
